<!DOCTYPE html>
<html dir="ltr">
<head>

	<script>
    var themeHasJQuery = !!window.jQuery;
</script><script type="text/javascript" src="{{url_for('static', filename='js/jquery.js')}}"></script>
<script>
    window._$ = jQuery.noConflict(themeHasJQuery);
</script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css')}}" media="screen" />
<script type="text/javascript" src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
<!--[if lte IE 9]>
<link rel="stylesheet" href="{{ url_for('static', filename='css/layout.ie.css') }}">
<script src="{{ url_for('static', filename='js/layout.ie.js') }}"></script>
<![endif]-->
<link class="" href='http://fonts.googleapis.com/css?family=Open+Sans:300,300italic,regular,italic,600,600italic,700,700italic,800,800italic&subset=latin' rel='stylesheet' type='text/css'>
<script type="text/javascript" src="{{ url_for('static', filename='js/layout.core.js') }}"></script>
<script src="{{ url_for('static', filename='js/CloudZoom.js') }}"></script>

    <title>Home Page</title>
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
	<script src="{{ url_for('static', filename='js/script.js') }}"></script>
    <meta charset="utf-8">


 <meta name="keywords" content="HTML, CSS, JavaScript">


 <style>a {
  transition: color 250ms linear;
}
}
</style>
</head>
<body class="bd-body-1  bootstrap bd-pagebackground">
    <section class=" bd-section-1 bd-tagstyles bd-aligncontent bd-aligncontent-2 bd-textureoverlay bd-textureoverlay-2" data-aligncontent-size="page" id="section4" data-section-title="Row with Background Image"
    style="background-image: url(&quot;{{
         url_for('static', filename='images/7894f3e3c003a62dabecadef18c18ff3_light300431_1920.jpg')
         }}&quot;)"
    >
    <div class="bd-section-inner">
        <div class="bd-section-align-wrapper">
            <div class=" bd-layoutbox-9 clearfix">
    <div class="bd-container-inner">
        <h2 class=" bd-textblock-2 bd-content-element">
    Навык для Алисы
</h2>

		<h2 class=" bd-textblock-8 bd-content-element">
    Alice configurator &nbsp; &nbsp;
</h2>

		<p class=" bd-textblock-11 bd-content-element">
    Без единой строчки кода
</p>

		<div class=" bd-spacer-2 clearfix"></div>

		<a
 href="/login" class="bd-linkbutton-2  bd-button-12  bd-content-element"    >
    Войти<br>
</a>
    </div>
</div>
        </div>
    </div>
</section>

		<section class=" bd-section-7 bd-tagstyles bd-aligncontent bd-aligncontent-5" data-aligncontent-size="sheet" id="section5" data-section-title="Two Columns Right Offset Over Image">
    <div class="bd-section-inner">
        <div class="bd-section-align-wrapper">
            <div class=" luntainer-6 bd-columns">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-10
 col-sm-3">
    <div class="bd-layoutcolumn-10 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-14 bd-content-element">
    Особенности
</h2>

		<p class=" bd-textblock-16 bd-content-element">
    <i>
    Modern Design
</i>
</p>

		<p class=" bd-textblock-18 bd-content-element">
    <i>
    Fast processing
</i>
</p>

		<p class=" bd-textblock-20 bd-content-element">
    <i>
    Clean Modern Code
</i>
</p>

		<p class=" bd-textblock-22 bd-content-element">
    <i>
    Fully Responsive
</i>
</p></div></div>
</div>

		<div class=" bd-columnwrapper-14
 col-sm-3">
    <div class=".bd-layoutcolumn-14 bd-column" style="background-image: url(&quot;{{
         url_for('static', filename='images/1093835a005b4c3889f0c481107d9466_drink864958_19201.jpg')
         }}&quot;)">
        <div class="bd-vertical-align-wrapper"></div></div>
</div>

		<div class=" bd-columnwrapper-16
 col-sm-3">
    <div class="bd-layoutcolumn-16 bd-column"
         style="background-image: url(&quot;{{
         url_for('static', filename='images/aa78585211f8569b6fecf0a57f6613a1_df.jpg')
         }}&quot;)"
    ><div class="bd-vertical-align-wrapper"></div></div>
</div>

		<div class=" bd-columnwrapper-18
 col-sm-3">
    <div class="bd-layoutcolumn-18 bd-column" ><div class="bd-vertical-align-wrapper"><h2 class=" bd-textblock-26 bd-content-element">
    Функции
</h2>

		<p class=" bd-textblock-28 bd-content-element">
    For inspiration and to see what is possible, check out these niche market examples!
</p>

		<div class=" bd-spacer-5 clearfix"></div></div></div>
</div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</section>

		<div class=" bd-stretchtobottom-1 bd-stretch-to-bottom" data-control-selector=".bd-contentlayout-1">
<div class="bd-contentlayout-1 bd-page-width   bd-sheetstyles " >
    <div class="bd-container-inner">



                    <div class=" bd-layoutitemsbox-1 bd-flex-wide">
    <div class=" bd-content-13">
    <div class="bd-container-inner">

            <div class=" bd-htmlcontent-1"
 data-page-id="page.0">

</div>
    </div>
</div>
</div>



    </div>
</div></div>

		<footer class=" bd-footerarea-1">
        <section class=" bd-section-8 bd-tagstyles bd-aligncontent bd-aligncontent-8" data-aligncontent-size="page" id="section3" data-section-title="Three Columns With Social">
    <div class="bd-section-inner">
        <div class="bd-section-align-wrapper">
            <div class=" bd-layoutcontainer-9 bd-columns">
    <div class="bd-container-inner">
        <div class="container-fluid">
            <div class="row
 bd-row-flex 
 bd-row-align-middle">
                <div class=" bd-columnwrapper-20
 col-lg-4
 col-md-4">
    <div class="bd-layoutcolumn-20 bd-column" ><div class="bd-vertical-align-wrapper"><p class=" bd-textblock-30 bd-content-element">
    1393 Tully Street<br>
Detroit, MI 48219<br>
</p></div></div>
</div>

		<div class=" bd-columnwrapper-22
 col-lg-4
 col-md-4">
    <div class="bd-layoutcolumn-22 bd-column" ><div class="bd-vertical-align-wrapper"><div class=" bd-socialicons-2">

        <a target="_blank" data-social-url data-path-to-root="." class=" bd-socialicon-17 bd-socialicon"
   href="//www.facebook.com/sharer.php?u=">
    <span class="bd-icon"></span><span></span>
</a>

        <a target="_blank" data-social-url data-path-to-root="." class=" bd-socialicon-18 bd-socialicon"
   href="//twitter.com/share?url=&amp;text=">
    <span class="bd-icon"></span><span></span>
</a>

        <a target="_blank" data-social-url data-path-to-root="." class=" bd-socialicon-19 bd-socialicon"
   href="//plus.google.com/share?url=">
    <span class="bd-icon"></span><span></span>
</a>

        <a target="_blank" data-social-url data-path-to-root="." class=" bd-socialicon-20 bd-socialicon"
   href="//pinterest.com/pin/create/button/?url=&amp;media=&amp;description=">
    <span class="bd-icon"></span><span></span>
</a>






</div></div></div>
</div>

		<div class=" bd-columnwrapper-24
 col-lg-4
 col-md-4">
    <div class="bd-layoutcolumn-24 bd-column" ><div class="bd-vertical-align-wrapper"><p class=" bd-textblock-32 bd-content-element">
    phone: <a href="#">+61 12376 6284</a><br>
email: <a href="#">contact@website.com</a>
</p></div></div>
</div>
            </div>
        </div>
    </div>
</div>
        </div>
    </div>
</section>
</footer>

		<div data-smooth-scroll data-animation-time="250" class=" bd-smoothscroll-3"><a href="#" class=" bd-backtotop-1 ">
    <span class="bd-icon-67 bd-icon "></span>
</a></div>
</body>
</html>